.container-carousel {
     display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   }
.titleseccarr{
    font-size: 2rem;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 1%;
    color: #12003D;
    text-decoration: underline #0000005b;
    text-underline-offset: 5px;
    margin-bottom: 2%;

}
.carousel-wrapper {
    width: 95%;
    margin-bottom: 0%;
    margin-top: 0%;
}
.esLqMi{
    height: 25rem;
}
.infocarru{
    height:45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5px;
    margin-top: 15px;
}
.costcarr{
    color: #12003D;
    font-weight: 600;
}
.textName{
     margin-bottom: 2%;
     font-weight: 600;
    }
.watchit{
    background-color: #97D711;
    height: 75px;
    width: 100px;
    border-radius: 5px;
}
.allproducts{
    background-color: #0a001be7;
    height: 17vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    padding-bottom: 1%;
}

 .cta {
    position: relative;
    margin: auto;
    padding: 22px 22px;
    transition: all 0.2s ease;
    text-decoration: none;
    color: #11E7B3;
    font-size: 1.5rem;
 }
 .cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 40px;
    background: rgb(0, 0, 0);
    width: 80px;
    height: 80px;
    transition: all 0.3s ease;
  }
  
  .cta span {
    position: relative;
    font-size: 18px;
    line-height: 18px;
    font-weight: 900;
    letter-spacing: 0em;
    text-transform: uppercase;
    vertical-align: middle;
  }
  
  .cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: rgb(255, 255, 255);
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
  }
  
  .cta:hover:before {
    width: 100%;
    
  }
  
  .cta:hover svg {
    transform: translateX(0);
  }
  
  .cta:active {
    transform: scale(0.96);
  }
  .cta:hover{
    color: #11E7B3;
    text-decoration: none;
    font-weight: 900;
  }
  @media only screen and (min-width: 1024px) {
    .cta{
      text-decoration: none;
      color: #11E7B3;
      font-size: 2.2rem;
    }
    .cta span {
      position: relative;
      font-size: 18px;
      line-height: 18px;
      font-weight: 900;
      letter-spacing: 0.15em;
      text-transform: uppercase;
      vertical-align: middle;
    }
    .allproducts{
      height: 14vh;
      margin-top: 1.5%;
      padding-bottom: 0%;
  }

  }
 




