@font-face{
	font-family: 'Cormorant Garamond', serif;
	src: url("./assets/fonts/Cormorant/CormorantGaramond-LightItalic.ttf");
	font-style: normal;
	font-weight: none;
}

*{
	margin:0;
	border:0;
	padding:0;
	list-style:none;
	box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body{
    width: 100% !important; 
    height: 100vh !important;
 }
 .blakhole{
	 min-height: 50px;
	 background-color: transparent;
	 color: transparent;
 }
 .blakhole2{
	min-height: 80px;
	background-color: #8f8e8e1e;
	color: transparent;
}

